
# environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Vercel
.vercel/


#files
setup.sql
migrate_memories_v2.sql
migrate_access_v3.sql
migrate_limits_v4.sql
migrate_attachments_v5.sql
migrate_memories.sql
migrate_subscriptions_v6.sql
migrate_plan_prices_v7.sql
migrate_multi_attachments_v8.sql
migrate_channel_bonus_v11.sql
migrate_referral_trials_v10.sql
migrate_referrals_v9.sql